components/banner.html

<div class="banner max-width">
  <div class="banner__container"><img class="banner__container-bg" src="dist/image/banner-image.svg"/>
    <div class="banner__logo">LOGO</div>
    <div class="banner__circle"><img class="banner__container-bg" src="dist/image/banner-circle.svg"/>
      <p class="banner__circle-text-group"><span class="banner__circle-text banner__circle-text--yellow-line">ビタミンB12</span><br/>レバー<br/>○g分</p>
    </div>
    <div class="banner__circle banner__circle--second"><img class="banner__container-bg" src="dist/image/banner-circle.svg"/>
      <p class="banner__circle-text-group"><span class="banner__circle-text banner__circle-text--yellow-line">ビタミンC</span><br/>レモン<br/>○個分</p>
    </div>
    <div class="banner__circle banner__circle--third"><img class="banner__container-bg" src="dist/image/banner-circle.svg"/>
      <p class="banner__circle-text-group"><span class="banner__circle-text banner__circle-text--yellow-line">ビタミンB12</span><br/>レバー<br/>○g分</p>
    </div>
    <div class="banner__circle banner__circle--fourth"><img class="banner__container-bg" src="dist/image/banner-circle.svg"/>
      <p class="banner__circle-text-group"><span class="banner__circle-text banner__circle-text--yellow-line">ビタミンC</span><br/>レモン<br/>○個分</p>
    </div><img class="banner__center" src="dist/image/banner-center-container.svg"/>
    <div class="banner__center-content">     
      <div class="banner__round-text"><span>新発売</span></div>
    </div>
    <div class="banner__main-title">私は1日○粒で</div>
    <div class="banner__main-title banner__main-title--right">栄養をとるの<span>。</span></div>
  </div>
</div>

src/pug/components/banner.pug
.banner.max-width
  .banner__container
    img.banner__container-bg(src="dist/image/banner-image.svg")
    
    .banner__logo LOGO

    .banner__circle
      img.banner__container-bg(src="dist/image/banner-circle.svg")
      p.banner__circle-text-group
        span.banner__circle-text.banner__circle-text--yellow-line ビタミンB12
        br
        | レバー
        br
        | ○g分
    
    .banner__circle.banner__circle--second
      img.banner__container-bg(src="dist/image/banner-circle.svg")
      p.banner__circle-text-group
        span.banner__circle-text.banner__circle-text--yellow-line ビタミンC
        br
        | レモン
        br
        | ○個分
    
    .banner__circle.banner__circle--third
      img.banner__container-bg(src="dist/image/banner-circle.svg")
      p.banner__circle-text-group
        span.banner__circle-text.banner__circle-text--yellow-line ビタミンB12
        br
        | レバー
        br
        | ○g分
    
    .banner__circle.banner__circle--fourth
      img.banner__container-bg(src="dist/image/banner-circle.svg")
      p.banner__circle-text-group
        span.banner__circle-text.banner__circle-text--yellow-line ビタミンC
        br
        | レモン
        br
        | ○個分
    
    img.banner__center(src="dist/image/banner-center-container.svg")
    .banner__center-content      
      .banner__round-text
        span 新発売

    .banner__main-title 私は1日○粒で

    .banner__main-title.banner__main-title--right 栄養をとるの
      span 。


  //- .banner__content 
  //-   .banner__logo LOGO
  //-   .banner__center-container
  //-     img(src="dist/image/banner-center-container.svg")
    
  //-   .banner__circle.banner__circle--first
  //-     p.banner__circle-text-group
  //-       span.banner__circle-text.banner__circle-text--yellow-line ビタミンB12
  //-       br
  //-       | レバー
  //-       br
  //-       | ○g分
    
  //-   .banner__circle
  //-     p.banner__circle-text-group
  //-       span.banner__circle-text.banner__circle-text--yellow-line ビタミンB12
  //-       br
  //-       | レバー
  //-       br
  //-       | ○g分
    
  //-   .banner__circle.banner__circle--second
  //-     p.banner__circle-text-group
  //-       span.banner__circle-text.banner__circle-text--yellow-line ビタミンB12
  //-       br
  //-       | レバー
  //-       br
  //-       | ○g分
    
  //-   .banner__circle.banner__circle--third
  //-     p.banner__circle-text-group
  //-       span.banner__circle-text.banner__circle-text--yellow-line ビタミンB12
  //-       br
  //-       | レバー
  //-       br
  //-       | ○g分
    
  //-   .banner__circle.banner__circle--fourth
  //-     p.banner__circle-text-group
  //-       span.banner__circle-text.banner__circle-text--yellow-line ビタミンB12
  //-       br
  //-       | レバー
  //-       br
  //-       | ○g分
