src/pug/components/center-paragraph.pug
.section.campaign.max-width
  p.center-paragraph これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。
    br
    | これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。
    | これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。
  

components/center-paragraph.html

<div class="section campaign max-width">
  <p class="center-paragraph">これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。<br/>これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。
    これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。これはコピーです○○○○○○○○○○。
  </p>
</div>
