components/customer-voice.html

<div class="customer-voice">
  <div class="customer-voice__container"><img class="customer-voice__container-bg" src="dist/image/customer-voice-top.svg"/>
    <p class="customer-voice__title font-jun34">お客様の声</p>
    <div class="customer-voice__list">
      <div class="customer-voice__item"><img class="customer-voice__box-img" src="dist/image/faq-whole.svg"/>
        <div class="customer-voice__box-content">
          <p class="customer-voice__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。</p>
          <p class="customer-voice__date">20代　○○○さま</p>
        </div>
        <div class="customer-voice__box-content customer-voice__box-content--second">
          <p class="customer-voice__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。</p>
          <p class="customer-voice__date">20代　○○○さま</p>
        </div>
        <div class="customer-voice__box-content customer-voice__box-content--third">
          <p class="customer-voice__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。</p>
          <p class="customer-voice__date">20代　○○○さま</p>
        </div>
        <div class="customer-voice__box-content customer-voice__box-content--second customer-voice__box-content--fourth">
          <p class="customer-voice__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。</p>
          <p class="customer-voice__date">20代　○○○さま</p>
        </div>
        <div class="customer-voice__box-content customer-voice__box-content--third customer-voice__box-content--fifth">
          <p class="customer-voice__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。</p>
          <p class="customer-voice__date">20代　○○○さま</p>
        </div>
      </div>
    </div>
  </div>
</div>

src/pug/components/customer-voice.pug
.customer-voice
  .customer-voice__container
    img.customer-voice__container-bg(src="dist/image/customer-voice-top.svg")

    p.customer-voice__title.font-jun34 お客様の声

    .customer-voice__list
      .customer-voice__item
        img.customer-voice__box-img(src="dist/image/faq-whole.svg")
        .customer-voice__box-content
          p.customer-voice__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。
          p.customer-voice__date 20代　○○○さま
        
        .customer-voice__box-content.customer-voice__box-content--second
          p.customer-voice__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。
          p.customer-voice__date 20代　○○○さま

        .customer-voice__box-content.customer-voice__box-content--third
          p.customer-voice__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。
          p.customer-voice__date 20代　○○○さま
        
        .customer-voice__box-content.customer-voice__box-content--second.customer-voice__box-content--fourth
          p.customer-voice__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。
          p.customer-voice__date 20代　○○○さま
        
        .customer-voice__box-content.customer-voice__box-content--third.customer-voice__box-content--fifth
          p.customer-voice__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。
          p.customer-voice__date 20代　○○○さま
      
      //- .customer-voice__item.customer-voice__item--flipped
      //-   img.customer-voice__box-img(src="dist/image/customer-voice-img2.svg")
      //-   .customer-voice__box-content
      //-     p.customer-voice__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。
      //-     p.customer-voice__date 20代　○○○さ

      //- .customer-voice__item
      //-   img.customer-voice__box-img(src="dist/image/customer-voice-img3.svg")
      //-   .customer-voice__box-content
      //-     p.customer-voice__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。
      //-     p.customer-voice__date 20代　○○○さま
      
      //- .customer-voice__item.customer-voice__item--flipped
      //-   img.customer-voice__box-img(src="dist/image/customer-voice-img4.svg")
      //-   .customer-voice__box-content
      //-     p.customer-voice__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。
      //-     p.customer-voice__date 20代　○○○さ
      
      //- .customer-voice__item.customer-voice__item
      //-   img.customer-voice__box-img(src="dist/image/customer-voice-img5.svg")
      //-   .customer-voice__box-content
      //-     p.customer-voice__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。
      //-     p.customer-voice__date 20代　○○○さ
