src/pug/components/faq.pug
.section.faq
  .faq__container
    img.faq__container-bg(src="dist/image/faq-bg.svg")

    p.faq__title.font-jun34 よくあるご質問

    .faq__list
      .faq__item 
        .faq__number 
          p question 
          p.faq__number-text 1
        .faq__question
          p.faq__question-text Q.質問内容○○○○○○○○○○○○○○○○○。
          p.faq__question-content これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      .faq__item 
        .faq__number 
          p question 
            br
            span.faq__number-text 2
        .faq__question
          p.faq__question-text Q.質問内容○○○○○○○○○○○○○○○○○。
          p.faq__question-content これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      .faq__item 
        .faq__number 
          p question 
            br
            span.faq__number-text 3
        .faq__question
          p.faq__question-text Q.質問内容○○○○○○○○○○○○○○○○○。
          p.faq__question-content これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      .faq__item 
        .faq__number 
          p question 
            br
            span.faq__number-text 4
        .faq__question
          p.faq__question-text Q.質問内容○○○○○○○○○○○○○○○○○。
          p.faq__question-content これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      .faq__item 
        .faq__number 
          p question 
            br
            span.faq__number-text 5
        .faq__question
          p.faq__question-text Q.質問内容○○○○○○○○○○○○○○○○○。
          p.faq__question-content これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

components/faq.html

<div class="section faq">
  <div class="faq__container"><img class="faq__container-bg" src="dist/image/faq-bg.svg"/>
    <p class="faq__title font-jun34">よくあるご質問</p>
    <div class="faq__list">
      <div class="faq__item"> 
        <div class="faq__number"> 
          <p>question </p>
          <p class="faq__number-text">1</p>
        </div>
        <div class="faq__question">
          <p class="faq__question-text">Q.質問内容○○○○○○○○○○○○○○○○○。</p>
          <p class="faq__question-content">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
      <div class="faq__item"> 
        <div class="faq__number"> 
          <p>question <br/><span class="faq__number-text">2</span></p>
        </div>
        <div class="faq__question">
          <p class="faq__question-text">Q.質問内容○○○○○○○○○○○○○○○○○。</p>
          <p class="faq__question-content">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
      <div class="faq__item"> 
        <div class="faq__number"> 
          <p>question <br/><span class="faq__number-text">3</span></p>
        </div>
        <div class="faq__question">
          <p class="faq__question-text">Q.質問内容○○○○○○○○○○○○○○○○○。</p>
          <p class="faq__question-content">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
      <div class="faq__item"> 
        <div class="faq__number"> 
          <p>question <br/><span class="faq__number-text">4</span></p>
        </div>
        <div class="faq__question">
          <p class="faq__question-text">Q.質問内容○○○○○○○○○○○○○○○○○。</p>
          <p class="faq__question-content">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
      <div class="faq__item"> 
        <div class="faq__number"> 
          <p>question <br/><span class="faq__number-text">5</span></p>
        </div>
        <div class="faq__question">
          <p class="faq__question-text">Q.質問内容○○○○○○○○○○○○○○○○○。</p>
          <p class="faq__question-content">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
    </div>
  </div>
</div>
