src/pug/components/info.pug
.info
  .info__container
    img.info__container-bg(src="dist/image/info-yellow-top.svg")

    p.info__title こんなに違います。
      br
      | 願いを叶えるefsマルチビタミン。
  
  .info__list
    .info__item
      img.info__circle-img(src="dist/image/info-circle/info-circle-1.svg")
      .info__circle-content
        p.info__circle-title Text Text Text Text Text Text 
        .info__white-line
        p.info__circle-subtitle 見出しが入ります。見出しが入ります。
        p.info__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    .info__item.info__item--second
      img.info__circle-img(src="dist/image/info-circle-2.svg")
      .info__circle-content
        p.info__circle-title Text Text Text Text Text Text 
        .info__white-line
        p.info__circle-subtitle 見出しが入ります。見出しが入ります。
        p.info__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    .info__item.info__item--third
      img.info__circle-img(src="dist/image/info-circle-3.svg")
      .info__circle-content
        p.info__circle-title Text Text Text Text Text Text 
        .info__white-line
        p.info__circle-subtitle 見出しが入ります。見出しが入ります。
        p.info__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    .info__item.info__item--fourth
      img.info__circle-img(src="dist/image/info-circle-4.svg")
      .info__circle-content
        p.info__circle-title Text Text Text Text Text Text 
        .info__white-line
        p.info__circle-subtitle 見出しが入ります。見出しが入ります。
        p.info__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    .info__item.info__item--fifth
      img.info__circle-img(src="dist/image/info-circle-5.svg")
      .info__circle-content
        p.info__circle-title Text Text Text Text Text Text 
        .info__white-line
        p.info__circle-subtitle 見出しが入ります。見出しが入ります。
        p.info__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

components/info.html

<div class="info">
  <div class="info__container"><img class="info__container-bg" src="dist/image/info-yellow-top.svg"/>
    <p class="info__title">こんなに違います。<br/>願いを叶えるefsマルチビタミン。</p>
  </div>
  <div class="info__list">
    <div class="info__item"><img class="info__circle-img" src="dist/image/info-circle/info-circle-1.svg"/>
      <div class="info__circle-content">
        <p class="info__circle-title">Text Text Text Text Text Text </p>
        <div class="info__white-line"></div>
        <p class="info__circle-subtitle">見出しが入ります。見出しが入ります。</p>
        <p class="info__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
      </div>
    </div>
    <div class="info__item info__item--second"><img class="info__circle-img" src="dist/image/info-circle-2.svg"/>
      <div class="info__circle-content">
        <p class="info__circle-title">Text Text Text Text Text Text </p>
        <div class="info__white-line"></div>
        <p class="info__circle-subtitle">見出しが入ります。見出しが入ります。</p>
        <p class="info__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
      </div>
    </div>
    <div class="info__item info__item--third"><img class="info__circle-img" src="dist/image/info-circle-3.svg"/>
      <div class="info__circle-content">
        <p class="info__circle-title">Text Text Text Text Text Text </p>
        <div class="info__white-line"></div>
        <p class="info__circle-subtitle">見出しが入ります。見出しが入ります。</p>
        <p class="info__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
      </div>
    </div>
    <div class="info__item info__item--fourth"><img class="info__circle-img" src="dist/image/info-circle-4.svg"/>
      <div class="info__circle-content">
        <p class="info__circle-title">Text Text Text Text Text Text </p>
        <div class="info__white-line"></div>
        <p class="info__circle-subtitle">見出しが入ります。見出しが入ります。</p>
        <p class="info__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
      </div>
    </div>
    <div class="info__item info__item--fifth"><img class="info__circle-img" src="dist/image/info-circle-5.svg"/>
      <div class="info__circle-content">
        <p class="info__circle-title">Text Text Text Text Text Text </p>
        <div class="info__white-line"></div>
        <p class="info__circle-subtitle">見出しが入ります。見出しが入ります。</p>
        <p class="info__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
      </div>
    </div>
  </div>
</div>
