src/pug/components/sns.pug
.section.sns
  .sns__container
    img.sns__container-bg(src="dist/image/sns-bg.svg")
    img.sns__container-bg-sp(src="dist/image/sns-bg-sp.svg")

    p.sns__title.font-jun34 SNSでも
      br
      | 「esfマルチビタミン」を大絶賛
    
    .sns__list
      .sns__item
        img.sns__box-img(src="dist/image/sns-box-img.svg")
        //- p.sns__box-text 写真
        //- p.sns__box-text.sns__box-text--right インスタ
        //-   br
        //-   | 投稿画面
      
      .sns__item.sns__item--right
        img.sns__box-img(src="dist/image/sns-box-img-right.svg")
        //- p.sns__box-text 写真
        //- p.sns__box-text.sns__box-text--right インスタ
        //-   br
        //-   | 投稿画面

      .sns__item
        img.sns__box-img(src="dist/image/sns-box-img.svg")
        //- p.sns__box-text 写真
        //- p.sns__box-text.sns__box-text--right インスタ
        //-   br
        //-   | 投稿画面
      
      .sns__item.sns__item--right
        img.sns__box-img(src="dist/image/sns-box-img-right.svg")
        //- p.sns__box-text 写真
        //- p.sns__box-text.sns__box-text--right インスタ
        //-   br
        //-   | 投稿画面

components/sns.html

<div class="section sns">
  <div class="sns__container"><img class="sns__container-bg" src="dist/image/sns-bg.svg"/><img class="sns__container-bg-sp" src="dist/image/sns-bg-sp.svg"/>
    <p class="sns__title font-jun34">SNSでも<br/>「esfマルチビタミン」を大絶賛</p>
    <div class="sns__list">
      <div class="sns__item"><img class="sns__box-img" src="dist/image/sns-box-img.svg"/></div>
      <div class="sns__item sns__item--right"><img class="sns__box-img" src="dist/image/sns-box-img-right.svg"/></div>
      <div class="sns__item"><img class="sns__box-img" src="dist/image/sns-box-img.svg"/></div>
      <div class="sns__item sns__item--right"><img class="sns__box-img" src="dist/image/sns-box-img-right.svg"/></div>
    </div>
  </div>
</div>
