components/video-section.html

<div class="video-section">
  <div class="video-section__container"><img class="video-section__container-bg" src="dist/image/video-section-bg.svg"/>
    <p class="video-section__title font-jun34">動画でご紹介タイトル</p>
  </div>
  <div class="video-section__content">
    <div class="video-section__img-holder"><img class="video-section__img" src="dist/image/video-section-img.svg"/></div>
    <p class="video-section__text">自信を持っておすすめします。<br/>まずはお試しください！</p>
  </div>
</div>

src/pug/components/video-section.pug
.video-section
  .video-section__container
    img.video-section__container-bg(src="dist/image/video-section-bg.svg")

    p.video-section__title.font-jun34 動画でご紹介タイトル
  
  .video-section__content
    .video-section__img-holder
      img.video-section__img(src="dist/image/video-section-img.svg")
    
    p.video-section__text 自信を持っておすすめします。
      br
      | まずはお試しください！
